[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
license = "MIT"

[[bin]]
name = "xtask"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
clap.workspace = true
iron-pony-parity = { path = "../iron-pony-parity" }
tracing.workspace = true
tracing-subscriber.workspace = true
