[package]
name = "iron-pony-spec"
version = "0.1.0"
edition = "2024"
license = "MIT"

[dependencies]
anyhow.workspace = true
serde.workspace = true
serde_yaml.workspace = true
tracing.workspace = true
